body {
    display: flex;
    justify-content: center;
    font-family: "Dm Sans", sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    padding: 10px 0;
    background: url("public/search.svg") no-repeat right;
    background-size: 18px;
    transition: border-bottom 0.3s ease-in-out;
    margin-bottom: calc(39px - 16px);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input:focus {
    border-bottom: 1px solid #000;
}

select {
    appearance: none;
    border: 1px solid #d8d8d8;
    padding: 15px;
    border-radius: 5px;
    background: url("public/arrow.svg") no-repeat 96% 50%;
    background-size: 10px;
}
